.flag {
	margin: 30px;
	width: 600px;
	height: 400px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

/* Flag of Belgium */
.black {
	width: 200px;
	height: 400px;
	background:black;
	float:left;

}

.yellow {
	width: 200px;
	height: 400px;
	background:yellow;
	float:left;
}

.red {
	width: 200px;
	height: 400px;
	background:red;
	float:left;
}

/* Flag of Japan */

.circle {
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 100%;
	position: absolute;
	left: 200px;
	top: 100px;
}



/* Flag of Trinidad and Tobago */

.bg {
	width: 600px;
	height: 400px;
	background: red;
	position: absolute;
}

.stripe {
	width: 700px;
	height: 80px;
	background: black;
	border: solid white 20px;
	position: absolute;
	left: -50px;
	top: 120px;
	transform: rotate(38deg);

}


